**Research question(s). State your research question(s) clearly.**

In examining divorce rates from a sample population of 4,900 from Xalapa, Mexico, we intend to explore the relationship between zodiac sign and marriage compatability.

Primarily, our research will analyze the zodiac signs of divorced couples, and will seek to uncover patterns between divorce rates, lengths of marriage, and number of children with respect to zodiac pairing.

Additionally, we will compare the observed compatibility scores from our sample dataset with the hypothesized compatability scores from online astrology experts.

**Potential Limitations**

There are many potential limitations of the dataset. For one, we only have divorce rates, so we are basing our findings off of failed marriages, not successful ones. Therefore, we are basing compatability off of failure instead of successes. The dataset is also comprised exclusively of heterosexual couples, so we will not be able to generalize these results to same-sex couples. Furthermore, we will be using the subject's birthdates to compute their sun signs. This is the most commonly known and discussed facet of one's chart; however, it is only the tip of the iceberg when applying astrological patterns to an individual.

**Data Description**

*What are the observations (rows) and the attributes (columns)?*

Each observation is a divorce. The attributes of each row include the date of the divorce, the date of birth for the man and the woman, the date of the marriage, the number of children, their occupations, levels of education, and monthly incomes.

*Why was this dataset created? Who funded the creation of the dataset?*

This dataset was created by the Mexican government to keep record of legal divorces for the city of Xalapa, Mexico. The Mexican government funded its creation.

*What processes might have influenced what data was observed and recorded and what was not?*

Since the data tracks legal divorces within Xalapa, Mexico between 2000-2015, it does not include separations between couples that may represent a strained and non-compatible relationship that did not necessarily end in divorce. Additionally, since this data was taken before the legalization of same-sex marriage, it is not representative of the entire population as these pairings were not recorded. 

*What preprocessing was done, and how did the data come to be in the form that you are using?*

The legal dataset did not include marriage duration. The creators of the Kaggle dataset used in this analysis made their own duration variables. These are inconsistently created and will be dropped and recalculated using date of marriage and date of divorce.

*If people are involved, were they aware of the data collection and if so, what purpose did they expect the data to be used for?*

Each observation is the result of a legal divorce filing. They likely did not expect three Cornell students to calculate their zodiac compatitibility, but it was taken with their consent to finalize their divorce.

*Where can your raw source data be found, if applicable? Provide a link to the raw data (hosted in a Cornell Google Drive or Cornell Box).*

https://drive.google.com/drive/folders/1vSdMsdE4WBRfmD1QmDZCYrti4R_y02Z0?usp=sharing

**Questions for Reviewers**

INSERT

In [1]:
import pandas as pd

In [2]:
zodiac_comp = pd.read_csv('Comp_matrix.csv')
zodiac_comp.head()

  Zodiac_combination  Compatibility_rate
0       CancerPisces                0.98
1       TaurusGemini                0.33
2        VirgoPisces                0.88
3        PiscesAries                0.67
4     CancerAquarius                0.27

In [3]:
zod_columns = zodiac_comp.columns.str.lower()
#zod_columns

In [4]:
zodiac_comp_rate = zodiac_comp.copy()
zodiac_comp_rate.columns = zod_columns
zodiac_comp_rate.head()

  zodiac_combination  compatibility_rate
0       CancerPisces                0.98
1       TaurusGemini                0.33
2        VirgoPisces                0.88
3        PiscesAries                0.67
4     CancerAquarius                0.27

In [5]:
divorce = pd.read_csv('divorces_2000-2015_translated.csv')
divorce.head()

,Divorce_date,Type_of_divorce,Nationality_partner_man,DOB_partner_man,Place_of_birth_partner_man,Birth_municipality_of_partner_man,Birth_federal_partner_man,Birth_country_partner_man,Age_partner_man,Residence_municipality_partner_man,...,Marriage_certificate_municipality,Marriage_certificate_federal,Level_of_education_partner_man,Employment_status_partner_man,Level_of_education_partner_woman,Employment_status_partner_woman,Marriage_duration,Marriage_duration_months,Num_Children,Custody
0,9/6/06,Necesario,MEXICANA,18/12/75,XALAPA - ENRIQUEZ,XALAPA,VERACRUZ,MEXICO,30.0,XALAPA,...,XALAPA,VERACRUZ,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
1,1/2/00,Voluntario,MEXICANA,NaN,NaN,NaN,NaN,NaN,47.0,NaN,...,XALAPA,VERACRUZ,PREPARATORIA,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,NaN,NaN,NaN,NaN
2,1/2/05,Necesario,MEXICANA,22/2/55,XALAPA - ENRIQUEZ,XALAPA,VERACRUZ,MEXICO,49.0,NaN,...,XALAPA,VERACRUZ,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
3,1/2/06,Necesario,MEXICANA,20/1/64,XALAPA - ENRIQUEZ,XALAPA,VERACRUZ,MEXICO,42.0,XALAPA,...,XALAPA,VERACRUZ,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,18.0,NaN,2.0,MADRE
4,1/2/06,Necesario,MEXICANA,30/10/75,XALAPA - ENRIQUEZ,XALAPA,VERACRUZ,MEXICO,30.0,COATEPEC,...,XALAPA,VERACRUZ,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE

In [6]:
new_colnames = divorce.columns.str.lower()
#new_colnames

In [7]:
new_colnames = new_colnames.str.replace(" ", "_")
divorce_data = divorce.copy()
divorce_data.columns = new_colnames
#divorce_data.head()
divorce_data.columns

Index(['divorce_date', 'type_of_divorce', 'nationality_partner_man',
       'dob_partner_man', 'place_of_birth_partner_man',
       'birth_municipality_of_partner_man', 'birth_federal_partner_man',
       'birth_country_partner_man', 'age_partner_man',
       'residence_municipality_partner_man', 'residence_federal_partner_man',
       'residence_country_partner_man', 'monthly_income_partner_man_peso',
       'occupation_partner_man', 'place_of_residence_partner_man',
       'nationality_partner_woman', 'dob_partner_woman',
       'dob_registration_date_partner_woman', 'place_of_birth_partner_woman',
       'birth_municipality_of_partner_woman', 'birth_federal_partner_woman',
       'birth_country_partner_woman', 'age_partner_woman',
       'place_of_residence_partner_woman',
       'residence_municipality_partner_woman',
       'residence_federal_partner_woman', 'residence_country_partner_woman',
       'occupation_partner_woman', 'monthly_income_partner_woman_peso',
       'date_of_marriage', 'marriage_certificate_place',
       'marriage_certificate_municipality', 'marriage_certificate_federal',
       'level_of_education_partner_man', 'employment_status_partner_man',
       'level_of_education_partner_woman', 'employment_status_partner_woman',
       'marriage_duration', 'marriage_duration_months', 'num_children',
       'custody'],
      dtype='object')

In [8]:
divorce_data = divorce_data[['divorce_date', 'date_of_marriage', 'type_of_divorce',
       'dob_partner_man', 'age_partner_man', 'monthly_income_partner_man_peso',
       'occupation_partner_man', 'dob_partner_woman', 'age_partner_woman',
       'occupation_partner_woman', 'monthly_income_partner_woman_peso',
       'level_of_education_partner_man', 'employment_status_partner_man',
       'level_of_education_partner_woman', 'employment_status_partner_woman',
       'marriage_duration', 'marriage_duration_months', 'num_children',
       'custody']]
divorce_data = divorce_data.rename(columns={'date_of_marriage': "marriage_date", 'dob_partner_man': "dob_man", 'dob_partner_woman': "dob_woman"})
divorce_data.head()

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
0,9/6/06,26/6/00,Necesario,18/12/75,30.0,2000.0,PINTOR,8/1/83,22.0,EMPLEADA,1800.0,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
1,1/2/00,17/2/77,Voluntario,NaN,47.0,NaN,NaN,NaN,41.0,NaN,NaN,PREPARATORIA,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,NaN,NaN,NaN,NaN
2,1/2/05,18/12/75,Necesario,22/2/55,49.0,NaN,MEDICO,21/3/47,57.0,JUBILADA,NaN,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
3,1/2/06,3/12/87,Necesario,20/1/64,42.0,6000.0,EMPLEADO,NaN,NaN,COMERCIANTE,5000.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,18.0,NaN,2.0,MADRE
4,1/2/06,14/11/98,Necesario,30/10/75,30.0,18000.0,MEDICO,13/10/78,27.0,AMA DE CASA,NaN,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE

date is in year-month-day

In [9]:
type(divorce_data.divorce_date[0])

str

In [10]:
divorce_data['divorce_date'] = pd.to_datetime(divorce_data['divorce_date'])
divorce_data.head(30)

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
0,2006-09-06,26/6/00,Necesario,18/12/75,30.0,2000.0,PINTOR,8/1/83,22.0,EMPLEADA,1800.0,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
1,2000-01-02,17/2/77,Voluntario,NaN,47.0,NaN,NaN,NaN,41.0,NaN,NaN,PREPARATORIA,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,NaN,NaN,NaN,NaN
2,2005-01-02,18/12/75,Necesario,22/2/55,49.0,NaN,MEDICO,21/3/47,57.0,JUBILADA,NaN,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
3,2006-01-02,3/12/87,Necesario,20/1/64,42.0,6000.0,EMPLEADO,NaN,NaN,COMERCIANTE,5000.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,18.0,NaN,2.0,MADRE
4,2006-01-02,14/11/98,Necesario,30/10/75,30.0,18000.0,MEDICO,13/10/78,27.0,AMA DE CASA,NaN,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE
5,2006-01-02,20/1/95,Necesario,28/3/73,32.0,NaN,EMPLEADO,14/6/76,29.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,NO TRABAJA,11.0,NaN,2.0,MADRE
6,2007-01-02,16/8/91,Necesario,13/12/70,36.0,NaN,EMPLEADO,4/11/71,35.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,15.0,NaN,2.0,MADRE
7,2007-01-02,17/9/99,Necesario,17/2/75,31.0,NaN,LICENCIADO,27/8/74,32.0,LICENCIADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,6.0,NaN,1.0,MADRE
8,2008-01-02,3/6/06,Voluntario,2/12/76,31.0,15000.0,COMERCIANTE,3/1/80,28.0,EMPLEADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,1.0,7.0,NaN,NaN
9,2008-01-02,9/2/01,Voluntario,17/11/76,31.0,6000.0,EMPLEADO,13/3/77,30.0,EMPLEADA,6000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,7.0,11.0,NaN,NaN
10,2011-01-02,2/2/00,Necesario,4/6/69,41.0,5000.0,COMERCIANTE,16/2/70,40.0,EMPLEADA,5000.0,PREPARATORIA,ESTABLECIMIENTO,PROFESIONAL,EMPLEADO,2.0,NaN,2.0,MADRE
11,2011-01-02,13/5/06,Voluntario,13/11/79,31.0,12000.0,NaN,13/5/81,29.0,NaN,12000.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,2.0,NaN,NaN,NaN
12,2011-01-02,8/6/07,Voluntario,20/9/82,28.0,6000.0,NaN,30/1/88,22.0,NaN,10000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,NaN,NaN
13,2011-01-02,10/10/98,Necesario,31/1/73,38.0,25000.0,NaN,5/11/70,40.0,NaN,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,12.0,3.0,2.0,MADRE
14,2012-01-02,5/1/74,Necesario,9/4/48,63.0,NaN,COMERCIANTE,30/1/56,56.0,AMA DE CASA,NaN,NaN,NaN,NaN,NaN,37.0,NaN,2.0,NaN
15,2012-01-02,3/8/00,Necesario,9/7/73,38.0,20000.0,LICENCIADO,20/5/74,37.0,LICENCIADA,15.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,11.0,NaN,NaN,NaN
16,2000-01-03,22/3/94,Voluntario,NaN,24.0,NaN,NaN,NaN,33.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,NaN,NaN,NaN,NaN
17,2005-01-03,4/2/04,Voluntario,23/3/84,20.0,NaN,ESTUDIANTE,10/10/81,23.0,ESTUDIANTE,NaN,PROFESIONAL,NO TRABAJA,PROFESIONAL,NO TRABAJA,1.0,NaN,NaN,NaN
18,2005-01-03,10/9/91,Necesario,9/7/70,34.0,5600.0,CHOFER,25/5/69,35.0,EMPLEADA,4500.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,10.0,NaN,2.0,MADRE
19,2005-01-03,1/2/93,Necesario,7/2/74,31.0,3500.0,EMPLEADO,19/3/67,37.0,EMPLEADO,4000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,10.0,NaN,2.0,MADRE
20,2005-01-03,28/6/93,Necesario,3/10/71,33.0,NaN,NaN,30/3/72,32.0,NaN,NaN,SECUNDARIA,JORNALERO O PEON,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,11.0,8.0,1.0,MADRE
21,2005-01-03,3/7/76,Necesario,17/8/48,56.0,NaN,COMERCIANTE,29/10/57,47.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,NaN,NaN,NaN,NaN
22,2006-01-03,12/11/98,Necesario,3/4/64,41.0,12000.0,COMERCIANTE,20/8/76,29.0,EMPLEADA,7000.0,PROFESIONAL,PATRON O EMPRESARIO,PROFESIONAL,EMPLEADO,7.0,NaN,1.0,MADRE
23,2006-01-03,9/5/68,Necesario,NaN,NaN,NaN,DESEMPLEADO,22/11/24,81.0,LABORES DOMESTICAS,NaN,PRIMARIA,NO TRABAJA,PRIMARIA,NO TRABAJA,28.0,NaN,9.0,NaN
24,2007-01-03,30/4/96,Necesario,3/3/69,37.0,12000.0,ING. CIVIL,7/6/66,40.0,EMPLEADA,2500.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,11.0,NaN,1.0,MADRE
25,2007-01-03,19/3/87,Necesario,26/9/61,45.0,6000.0,EMPLEADO,17/5/62,44.0,EMPLEADA,4000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,19.0,NaN,3.0,MADRE
26,2010-01-03,7/12/05,Voluntario,5/4/87,22.0,2000.0,EMPLEADO,21/9/86,23.0,EMPLEADA,2000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,4.0,NaN,NaN,NaN
27,2010-01-03,22/3/02,Necesario,31/5/68,41.0,5000.0,EMPLEADO,16/8/76,33.0,EMPLEADA,3800.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,1.0,MADRE
28,2011-01-03,24/10/07,Necesario,9/3/84,26.0,NaN,ESTUDIANTE,26/3/88,22.0,EMPLEADA,4000.0,NaN,NaN,NaN,EMPLEADO,3.0,1.0,1.0,NaN
29,2012-01-03,22/1/99,Necesario,30/5/80,31.0,NaN,NaN,7/9/79,32.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,1.0,MADRE

In [11]:
#divorce_data['marriage_date'] = pd.to_datetime(divorce_data['marriage_date'],origin=pd.Timestamp('1916-01-01'),unit='us')
#divorce_data['dob_man'] = pd.to_datetime(divorce_data['dob_man'])
#divorce_data['dob_woman'] = pd.to_datetime(divorce_data['dob_woman'])

In [12]:
divorce_data.head(30)

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
0,2006-09-06,26/6/00,Necesario,18/12/75,30.0,2000.0,PINTOR,8/1/83,22.0,EMPLEADA,1800.0,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
1,2000-01-02,17/2/77,Voluntario,NaN,47.0,NaN,NaN,NaN,41.0,NaN,NaN,PREPARATORIA,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,NaN,NaN,NaN,NaN
2,2005-01-02,18/12/75,Necesario,22/2/55,49.0,NaN,MEDICO,21/3/47,57.0,JUBILADA,NaN,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
3,2006-01-02,3/12/87,Necesario,20/1/64,42.0,6000.0,EMPLEADO,NaN,NaN,COMERCIANTE,5000.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,18.0,NaN,2.0,MADRE
4,2006-01-02,14/11/98,Necesario,30/10/75,30.0,18000.0,MEDICO,13/10/78,27.0,AMA DE CASA,NaN,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE
5,2006-01-02,20/1/95,Necesario,28/3/73,32.0,NaN,EMPLEADO,14/6/76,29.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,NO TRABAJA,11.0,NaN,2.0,MADRE
6,2007-01-02,16/8/91,Necesario,13/12/70,36.0,NaN,EMPLEADO,4/11/71,35.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,15.0,NaN,2.0,MADRE
7,2007-01-02,17/9/99,Necesario,17/2/75,31.0,NaN,LICENCIADO,27/8/74,32.0,LICENCIADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,6.0,NaN,1.0,MADRE
8,2008-01-02,3/6/06,Voluntario,2/12/76,31.0,15000.0,COMERCIANTE,3/1/80,28.0,EMPLEADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,1.0,7.0,NaN,NaN
9,2008-01-02,9/2/01,Voluntario,17/11/76,31.0,6000.0,EMPLEADO,13/3/77,30.0,EMPLEADA,6000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,7.0,11.0,NaN,NaN
10,2011-01-02,2/2/00,Necesario,4/6/69,41.0,5000.0,COMERCIANTE,16/2/70,40.0,EMPLEADA,5000.0,PREPARATORIA,ESTABLECIMIENTO,PROFESIONAL,EMPLEADO,2.0,NaN,2.0,MADRE
11,2011-01-02,13/5/06,Voluntario,13/11/79,31.0,12000.0,NaN,13/5/81,29.0,NaN,12000.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,2.0,NaN,NaN,NaN
12,2011-01-02,8/6/07,Voluntario,20/9/82,28.0,6000.0,NaN,30/1/88,22.0,NaN,10000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,NaN,NaN
13,2011-01-02,10/10/98,Necesario,31/1/73,38.0,25000.0,NaN,5/11/70,40.0,NaN,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,12.0,3.0,2.0,MADRE
14,2012-01-02,5/1/74,Necesario,9/4/48,63.0,NaN,COMERCIANTE,30/1/56,56.0,AMA DE CASA,NaN,NaN,NaN,NaN,NaN,37.0,NaN,2.0,NaN
15,2012-01-02,3/8/00,Necesario,9/7/73,38.0,20000.0,LICENCIADO,20/5/74,37.0,LICENCIADA,15.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,11.0,NaN,NaN,NaN
16,2000-01-03,22/3/94,Voluntario,NaN,24.0,NaN,NaN,NaN,33.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,NaN,NaN,NaN,NaN
17,2005-01-03,4/2/04,Voluntario,23/3/84,20.0,NaN,ESTUDIANTE,10/10/81,23.0,ESTUDIANTE,NaN,PROFESIONAL,NO TRABAJA,PROFESIONAL,NO TRABAJA,1.0,NaN,NaN,NaN
18,2005-01-03,10/9/91,Necesario,9/7/70,34.0,5600.0,CHOFER,25/5/69,35.0,EMPLEADA,4500.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,10.0,NaN,2.0,MADRE
19,2005-01-03,1/2/93,Necesario,7/2/74,31.0,3500.0,EMPLEADO,19/3/67,37.0,EMPLEADO,4000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,10.0,NaN,2.0,MADRE
20,2005-01-03,28/6/93,Necesario,3/10/71,33.0,NaN,NaN,30/3/72,32.0,NaN,NaN,SECUNDARIA,JORNALERO O PEON,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,11.0,8.0,1.0,MADRE
21,2005-01-03,3/7/76,Necesario,17/8/48,56.0,NaN,COMERCIANTE,29/10/57,47.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,NaN,NaN,NaN,NaN
22,2006-01-03,12/11/98,Necesario,3/4/64,41.0,12000.0,COMERCIANTE,20/8/76,29.0,EMPLEADA,7000.0,PROFESIONAL,PATRON O EMPRESARIO,PROFESIONAL,EMPLEADO,7.0,NaN,1.0,MADRE
23,2006-01-03,9/5/68,Necesario,NaN,NaN,NaN,DESEMPLEADO,22/11/24,81.0,LABORES DOMESTICAS,NaN,PRIMARIA,NO TRABAJA,PRIMARIA,NO TRABAJA,28.0,NaN,9.0,NaN
24,2007-01-03,30/4/96,Necesario,3/3/69,37.0,12000.0,ING. CIVIL,7/6/66,40.0,EMPLEADA,2500.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,11.0,NaN,1.0,MADRE
25,2007-01-03,19/3/87,Necesario,26/9/61,45.0,6000.0,EMPLEADO,17/5/62,44.0,EMPLEADA,4000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,19.0,NaN,3.0,MADRE
26,2010-01-03,7/12/05,Voluntario,5/4/87,22.0,2000.0,EMPLEADO,21/9/86,23.0,EMPLEADA,2000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,4.0,NaN,NaN,NaN
27,2010-01-03,22/3/02,Necesario,31/5/68,41.0,5000.0,EMPLEADO,16/8/76,33.0,EMPLEADA,3800.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,1.0,MADRE
28,2011-01-03,24/10/07,Necesario,9/3/84,26.0,NaN,ESTUDIANTE,26/3/88,22.0,EMPLEADA,4000.0,NaN,NaN,NaN,EMPLEADO,3.0,1.0,1.0,NaN
29,2012-01-03,22/1/99,Necesario,30/5/80,31.0,NaN,NaN,7/9/79,32.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,1.0,MADRE

dropping observations that have missing dates

In [13]:
divorce_data.dropna(subset=['dob_man','dob_woman','marriage_date','divorce_date'],inplace=True)

properly assigning dates with the proper millenium

In [14]:
new_mar = []
for date in divorce_data['marriage_date']:
    first = date.find('/')
    second = date[first+1:].find('/')
    day = date[:first]
    month = date[first+1:first+second+1]
    year = date[first+second+2:]
    if int(year) > 15:
        year = '19'+year
    else:
        year = '20'+year
    final = (day+'/'+month+'/'+year)
    new_mar.append(final)

divorce_data['marriage_date'] = new_mar

divorce_data['dob_man'] = divorce_data['dob_man'].astype(str)

new_dob_man = []
for date in divorce_data['dob_man']:
    first = date.find('/')
    second = date[first+1:].find('/')
    day = date[:first]
    month = date[first+1:first+second+1]
    year = date[first+second+2:]
    #print(type(year))
    #print(year)
    if int(year) > 15:
        year = '19'+year
    else:
        year = '20'+year
    final = (day+'/'+month+'/'+year)
    new_dob_man.append(final)

divorce_data['dob_man'] = new_dob_man

new_dob_woman = []
for date in divorce_data['dob_woman']:
    first = date.find('/')
    second = date[first+1:].find('/')
    day = date[:first]
    month = date[first+1:first+second+1]
    year = date[first+second+2:]
    if int(year) > 15:
        year = '19'+year
    else:
        year = '20'+year
    final = (day+'/'+month+'/'+year)
    new_dob_woman.append(final)

divorce_data['dob_woman'] = new_dob_woman

divorce_data['marriage_date'] = pd.to_datetime(divorce_data['marriage_date'])
divorce_data['dob_man'] = pd.to_datetime(divorce_data['dob_man'])
divorce_data['dob_woman'] = pd.to_datetime(divorce_data['dob_woman'])

divorce_data.head(30)

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
0,2006-09-06,2000-06-26,Necesario,1975-12-18,30.0,2000.0,PINTOR,1983-08-01,22.0,EMPLEADA,1800.0,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
2,2005-01-02,1975-12-18,Necesario,1955-02-22,49.0,NaN,MEDICO,1947-03-21,57.0,JUBILADA,NaN,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
4,2006-01-02,1998-11-14,Necesario,1975-10-30,30.0,18000.0,MEDICO,1978-10-13,27.0,AMA DE CASA,NaN,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE
5,2006-01-02,1995-01-20,Necesario,1973-03-28,32.0,NaN,EMPLEADO,1976-06-14,29.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,NO TRABAJA,11.0,NaN,2.0,MADRE
6,2007-01-02,1991-08-16,Necesario,1970-12-13,36.0,NaN,EMPLEADO,1971-04-11,35.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,15.0,NaN,2.0,MADRE
7,2007-01-02,1999-09-17,Necesario,1975-02-17,31.0,NaN,LICENCIADO,1974-08-27,32.0,LICENCIADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,6.0,NaN,1.0,MADRE
8,2008-01-02,2006-03-06,Voluntario,1976-02-12,31.0,15000.0,COMERCIANTE,1980-03-01,28.0,EMPLEADA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,1.0,7.0,NaN,NaN
9,2008-01-02,2001-09-02,Voluntario,1976-11-17,31.0,6000.0,EMPLEADO,1977-03-13,30.0,EMPLEADA,6000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,7.0,11.0,NaN,NaN
10,2011-01-02,2000-02-02,Necesario,1969-04-06,41.0,5000.0,COMERCIANTE,1970-02-16,40.0,EMPLEADA,5000.0,PREPARATORIA,ESTABLECIMIENTO,PROFESIONAL,EMPLEADO,2.0,NaN,2.0,MADRE
11,2011-01-02,2006-05-13,Voluntario,1979-11-13,31.0,12000.0,NaN,1981-05-13,29.0,NaN,12000.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,2.0,NaN,NaN,NaN
12,2011-01-02,2007-08-06,Voluntario,1982-09-20,28.0,6000.0,NaN,1988-01-30,22.0,NaN,10000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,NaN,NaN
13,2011-01-02,1998-10-10,Necesario,1973-01-31,38.0,25000.0,NaN,1970-05-11,40.0,NaN,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,12.0,3.0,2.0,MADRE
14,2012-01-02,1974-05-01,Necesario,1948-09-04,63.0,NaN,COMERCIANTE,1956-01-30,56.0,AMA DE CASA,NaN,NaN,NaN,NaN,NaN,37.0,NaN,2.0,NaN
15,2012-01-02,2000-03-08,Necesario,1973-09-07,38.0,20000.0,LICENCIADO,1974-05-20,37.0,LICENCIADA,15.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,11.0,NaN,NaN,NaN
17,2005-01-03,2004-04-02,Voluntario,1984-03-23,20.0,NaN,ESTUDIANTE,1981-10-10,23.0,ESTUDIANTE,NaN,PROFESIONAL,NO TRABAJA,PROFESIONAL,NO TRABAJA,1.0,NaN,NaN,NaN
18,2005-01-03,1991-10-09,Necesario,1970-09-07,34.0,5600.0,CHOFER,1969-05-25,35.0,EMPLEADA,4500.0,SECUNDARIA,EMPLEADO,SECUNDARIA,EMPLEADO,10.0,NaN,2.0,MADRE
19,2005-01-03,1993-01-02,Necesario,1974-07-02,31.0,3500.0,EMPLEADO,1967-03-19,37.0,EMPLEADO,4000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,10.0,NaN,2.0,MADRE
20,2005-01-03,1993-06-28,Necesario,1971-03-10,33.0,NaN,NaN,1972-03-30,32.0,NaN,NaN,SECUNDARIA,JORNALERO O PEON,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,11.0,8.0,1.0,MADRE
21,2005-01-03,1976-03-07,Necesario,1948-08-17,56.0,NaN,COMERCIANTE,1957-10-29,47.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,NaN,NaN,NaN,NaN
22,2006-01-03,1998-12-11,Necesario,1964-03-04,41.0,12000.0,COMERCIANTE,1976-08-20,29.0,EMPLEADA,7000.0,PROFESIONAL,PATRON O EMPRESARIO,PROFESIONAL,EMPLEADO,7.0,NaN,1.0,MADRE
24,2007-01-03,1996-04-30,Necesario,1969-03-03,37.0,12000.0,ING. CIVIL,1966-07-06,40.0,EMPLEADA,2500.0,PROFESIONAL,EMPLEADO,PREPARATORIA,EMPLEADO,11.0,NaN,1.0,MADRE
25,2007-01-03,1987-03-19,Necesario,1961-09-26,45.0,6000.0,EMPLEADO,1962-05-17,44.0,EMPLEADA,4000.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,19.0,NaN,3.0,MADRE
26,2010-01-03,2005-07-12,Voluntario,1987-05-04,22.0,2000.0,EMPLEADO,1986-09-21,23.0,EMPLEADA,2000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,4.0,NaN,NaN,NaN
27,2010-01-03,2002-03-22,Necesario,1968-05-31,41.0,5000.0,EMPLEADO,1976-08-16,33.0,EMPLEADA,3800.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,NaN,1.0,MADRE
28,2011-01-03,2007-10-24,Necesario,1984-09-03,26.0,NaN,ESTUDIANTE,1988-03-26,22.0,EMPLEADA,4000.0,NaN,NaN,NaN,EMPLEADO,3.0,1.0,1.0,NaN
29,2012-01-03,1999-01-22,Necesario,1980-05-30,31.0,NaN,NaN,1979-07-09,32.0,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,1.0,MADRE
30,2013-01-03,2008-08-02,Voluntario,1981-09-25,31.0,1700.0,EMPLEADO,1979-06-06,33.0,EMPLEADA,5000.0,PREPARATORIA,EMPLEADO,PREPARATORIA,EMPLEADO,3.0,8.0,NaN,NaN
31,2013-01-03,2004-12-13,Necesario,1986-08-30,26.0,3000.0,EMPLEADO,1983-02-15,30.0,EMPLEADA,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,NO TRABAJA,6.0,NaN,2.0,MADRE
32,2002-01-04,2001-02-13,Voluntario,1981-08-08,20.0,NaN,EMPLEADO,1984-02-03,18.0,ESTUDIANTE,NaN,PREPARATORIA,NO TRABAJA,NaN,NaN,1.0,1.0,NaN,NaN
33,2002-01-04,1989-05-26,Voluntario,1968-09-05,33.0,2000.0,COMERCIANTE,1967-07-06,34.0,EMPLEADA,3400.0,PRIMARIA,TRABAJADOR POR SU PROPIA CUENTA O EN VIA PUBLICA,PREPARATORIA,EMPLEADO,12.0,10.0,2.0,MADRE

In [15]:
#type(divorce_data.type_of_divorce[0])
#type(divorce_data.marriage_duration[0])
#type(divorce_data.marriage_duration_months[0])
#type(divorce_data.num_children[0])
divorce_data.head()

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
0,2006-09-06,2000-06-26,Necesario,1975-12-18,30.0,2000.0,PINTOR,1983-08-01,22.0,EMPLEADA,1800.0,SECUNDARIA,OBRERO,SECUNDARIA,EMPLEADO,5.0,NaN,1.0,NaN
2,2005-01-02,1975-12-18,Necesario,1955-02-22,49.0,NaN,MEDICO,1947-03-21,57.0,JUBILADA,NaN,PREPARATORIA,OBRERO,NaN,TRABAJADOR POR CUENTA PROPIA EN VIA PUBLICA,NaN,NaN,NaN,NaN
4,2006-01-02,1998-11-14,Necesario,1975-10-30,30.0,18000.0,MEDICO,1978-10-13,27.0,AMA DE CASA,NaN,PROFESIONAL,EMPLEADO,PREPARATORIA,NO TRABAJA,7.0,NaN,2.0,MADRE
5,2006-01-02,1995-01-20,Necesario,1973-03-28,32.0,NaN,EMPLEADO,1976-06-14,29.0,NaN,NaN,SECUNDARIA,EMPLEADO,SECUNDARIA,NO TRABAJA,11.0,NaN,2.0,MADRE
6,2007-01-02,1991-08-16,Necesario,1970-12-13,36.0,NaN,EMPLEADO,1971-04-11,35.0,LABORES DOMESTICAS,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,15.0,NaN,2.0,MADRE

In [16]:
divorce_data = divorce_data.sort_values(by="divorce_date")

In [17]:
#divorce_data = divorce_data.dropna()
#divorce_data.reset_index(drop=True)

In [22]:
divorce_data.head()

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
42,2000-01-06,1989-08-19,1,1967-07-15,32.0,NaN,CHOFER,1964-08-23,35.0,EMPLEADA,1500.0,SECUNDARIA,EMPLEADO,OTRO,EMPLEADO,10.0,NaN,1.0,MADRE
43,2000-01-06,1997-07-26,2,1967-06-18,32.0,NaN,ING. AGRONOMO,1966-11-18,33.0,QUIMICA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,2.0,5.0,0.0,NaN
80,2000-01-08,1995-05-27,1,1963-08-04,37.0,3000.0,PUBLICISTA,1972-08-25,27.0,SECRETARIA,1700.0,PROFESIONAL,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,5.0,2.0,1.0,MADRE
79,2000-01-08,1992-04-09,1,1965-05-01,35.0,2200.0,FERROCARRILERO,1962-09-30,37.0,PROFESORA,2800.0,SECUNDARIA,EMPLEADO,PROFESIONAL,EMPLEADO,7.0,10.0,2.0,PADRE
96,2000-01-09,1994-12-19,1,1972-11-17,27.0,25000.0,ING.,1976-10-29,23.0,PROFESORA,3400.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,8.0,1.0,NaN

Coding the type of divorce to a numeric. Voluntario is 1, Necesario is 2. A voluntary divorce means that both parties agree to get a divorce. A necessary divorce is when one of the parties does not agree.

In [19]:
divorce_data['type_of_divorce'] = [obs.replace("Voluntario","1") for obs in divorce_data['type_of_divorce']]
divorce_data['type_of_divorce'] = [obs.replace("Necesario","2") for obs in divorce_data['type_of_divorce']]
divorce_data['type_of_divorce'] = divorce_data['type_of_divorce'].astype(int)
print(type(divorce_data['type_of_divorce'][0]))

<class 'numpy.int64'>

Replacing NaN children to 0.

In [20]:
divorce_data['num_children'] = divorce_data['num_children'].fillna(0)
divorce_data.head()

,divorce_date,marriage_date,type_of_divorce,dob_man,age_partner_man,monthly_income_partner_man_peso,occupation_partner_man,dob_woman,age_partner_woman,occupation_partner_woman,monthly_income_partner_woman_peso,level_of_education_partner_man,employment_status_partner_man,level_of_education_partner_woman,employment_status_partner_woman,marriage_duration,marriage_duration_months,num_children,custody
42,2000-01-06,1989-08-19,1,1967-07-15,32.0,NaN,CHOFER,1964-08-23,35.0,EMPLEADA,1500.0,SECUNDARIA,EMPLEADO,OTRO,EMPLEADO,10.0,NaN,1.0,MADRE
43,2000-01-06,1997-07-26,2,1967-06-18,32.0,NaN,ING. AGRONOMO,1966-11-18,33.0,QUIMICA,NaN,PROFESIONAL,EMPLEADO,PROFESIONAL,NO TRABAJA,2.0,5.0,0.0,NaN
80,2000-01-08,1995-05-27,1,1963-08-04,37.0,3000.0,PUBLICISTA,1972-08-25,27.0,SECRETARIA,1700.0,PROFESIONAL,ESTABLECIMIENTO,PREPARATORIA,EMPLEADO,5.0,2.0,1.0,MADRE
79,2000-01-08,1992-04-09,1,1965-05-01,35.0,2200.0,FERROCARRILERO,1962-09-30,37.0,PROFESORA,2800.0,SECUNDARIA,EMPLEADO,PROFESIONAL,EMPLEADO,7.0,10.0,2.0,PADRE
96,2000-01-09,1994-12-19,1,1972-11-17,27.0,25000.0,ING.,1976-10-29,23.0,PROFESORA,3400.0,PROFESIONAL,EMPLEADO,PROFESIONAL,EMPLEADO,3.0,8.0,1.0,NaN

assigning zodiac to both partners

In [25]:
def zodiac(obs):
    print(divorce_data['dob_man'][obs])
    #code to assign each divorce 2 zodiac variables

In [29]:
for obs in range(len(divorce_data)):
    zodiac(obs)
    #broken<3

1975-12-18 00:00:00

KeyError: 1